html {
    font-size: 120%;
    font-family: 'Georgia', serif;
}

#about {
    margin: 0 10% 0 10%;
    color: dimgrey;
}

#submitting {
    text-align: left;
}

p, a {
    color: dimgrey;
}

#page_image {
    width: 100%;
}

#homelink {
    text-decoration: none;
}

#footer {
    text-align: center;
}

#page {
    margin: 0% 0% 2% 0%;
}

img {
    width: 10%;
}

#arrows {
    width: 100%;
    display: inline-block;
}

#left-arrow {
    width: 100%;
}

#right-arrow {
    width: 100%;
}

#page_num {
    text-align:center;
    font-size: 150%;
    line-height: 210%;
}

@media(min-width:700px){
    img {
        width: 100%;
    }

    #page_image {
        height: 80%;
        object-fit: contain;
        margin-left: -5%;
        margin-right: -5%;
    }

    #arrows {
        position:fixed;
        bottom: 10%;
        left: 0%;
    }

    #left-arrow {
        max-width: 3%;
        margin-right: 5%;
        display: inline-block;
    }

    #right-arrow {
        max-width: 3%;
        margin-left: 5%;
        display: inline-block;
    }

    #page_num {
        font-size: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #footer {
        text-align: center;
        position:fixed;
        bottom: 3%;
        left: 0;
        right: 0;
    }
}
