html {
    font-size: 120%;
    font-family: 'Georgia', serif;
}

#about {
    margin: 0 10% 0 10%;
    color: dimgrey;
}

#submitting {
    text-align: left;
}

#social {
    width: 20%;
} 

p, a {
    color: dimgrey;
}

img {
    width: 111%;
    margin-left: -5.5%;
    margin-right: -5.5%;
}

#homelink {
    text-decoration: none;
}

#footer {
    text-align: center;
    margin-bottom: 5%;
}

#poem {
    margin: 5% 5% 5% 5%;
    box-shadow: 0 0 20px 0 lightgrey;
}

#arrows {
    margin: 5% 5% 5% 5%;
}

#left-arrow {
    width: 15%;
    margin-right: 20%;
    display: inline-block;
}

#right-arrow {
    width: 15%;
    margin-left: 20%;
    display: inline-block;
}

@media(min-width:700px){
    #social {
        width: 7%;
    } 

    img, #banner, figure {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        position: static;
    }

    #left-arrow {
        width: 5%;
        margin-right: 10%;
        display: inline-block;
    }

    #right-arrow {
        width: 5%;
        margin-left: 10%;
        display: inline-block;
    }
}
